#left-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.left-side-wrapper {
  width: 99%;
  height: 99%;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  vertical-align: middle;
  margin-bottom: 10% auto;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
