#leaderboard {
  border-top: 2px solid #ccc;
  width: 100%;
  color: #fff;
  /* max-height: 50%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 5px solid #5197e2;
  border-top: 5px solid #5197e2;
  border-bottom: 5px solid #5197e2;
  border-bottom-left-radius: 8px;

  overflow: hidden;
}

.leaderboard-title {
  width: 90%;
  padding: 5px;
  margin: 5% 2%;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.rank-list-container {
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rank-table {
  width: 100%;
  max-height: inherit;
  overflow: scroll;
}

.rank-table::-webkit-scrollbar {
  width: 10px;
}

.rank-table::-webkit-scrollbar {
  width: 10px;
}
.rank-table::-webkit-scrollbar-track {
  background-color: rgb(220, 218, 218);
}
.rank-table::-webkit-scrollbar-thumb {
  background-color: rgb(167, 218, 239);
}
.rank-table::-webkit-scrollbar-button {
  display: none;
}
.rank-table::-webkit-scrollbar-track:horizontal {
  display: none;
}

/* hover 효과 */
.rank-table::-webkit-scrollbar-thumb:hover {
  background-color: rgb(67, 166, 237);
}

/* 코너에 라운드 효과 */
.rank-table::-webkit-scrollbar-track,
.rank-table::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.rank-row {
  display: flex;
  justify-content: space-between;
  background-color: rgb(72, 139, 227);
  width: 95%;
  padding: 5px 0;
  box-sizing: border-box;
  border-bottom: 0.5px solid #accdf0;

  font-size: 12px;
  text-align: center;
}

.rank {
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-right: 1px solid #fff;
  text-align: center;
}

.username {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
